[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
django-extensions = "*"
jupyter = "*"
notebook = "==6.5.6"
djangorestframework = "*"
drf-writable-nested = "*"
django-bootstrap-v5 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
